.imgBg {
     height:300px;
    border-radius: 160px;
}
.page-loader {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.85);
    z-index: 9999;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    font-weight: 500;
    color: #333;
}
 
/* Spinner */
.spinner {
    width: 56px;
    height: 56px;
    border: 4px solid #e0e0e0;
    border-top: 4px solid #0d6efd; /* bootstrap primary */
    border-radius: 50%;
    animation: spin 0.9s linear infinite;
}
 
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}